services:
  api:
    container_name: recipe-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:8080
      
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
      
    depends_on:
      - postgres
      - vault
  
  postgres:
    container_name: recipe_project_postgres
    image: postgres:latest
    environment:
      POSTGRES_DB: recipe_project_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qPz8am91
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/usr/local/pgsql
  
  vault:
    image: hashicorp/vault:latest
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
    cap_add:
      - IPC_LOCK
    command: vault server -dev
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8200/v1/sys/health" ]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres-data: