services:
  postres:
    container_name: recipe_project_postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: recipe_project_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/urs/local/pgsql

volumes:
  postgres-data: